django
djangorestframework
django-cors-headers
pillow==10.3.0
drf-extra-fields
psycopg2-binary
tensorflow
keras
numpy>=1.21.2
opencv-python=4.10.082
scikit-learn==1.2.2
keras_facenet
pickle4
PyJWT==2.8.0